[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
pydantic = "*"
requests = "*"
sqlalchemy = "<1.4"
tenacity = "*"
uvicorn = "*"
ujson = "*"
python-dotenv = "*"
aiosqlite = "*"
databases = {extras = ["sqlite"], version = "*"}

[dev-packages]
mypy = "*"
autoflake = "*"
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
faker = "*"
types-requests = "*"
ipykernel = "*"
sqlalchemy2-stubs = "*"
mccabe = "*"
pep8-naming = "*"
flake8-eradicate = "*"
pytest-sugar = "*"
pytest-deadfixtures = "*"
eralchemy = "*"

[requires]
python_version = "3.9"
